spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: csj9912@gmail.com
    password: zanrqnoamcxiacwr
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
    auth-code-expiration-millis: 180000
    default-encoding: UTF-8